<app-toolbar></app-toolbar>

<main class="main-container">
  <div class="search-wrapper">
    <app-search-input (eventSearchString)="handleMovieSearch($event)">
    </app-search-input>

    <ng-container *ngIf="suggestions$ | async as suggestions">
      <app-autocomplete
        *ngIf="suggestions.length > 0"
        [suggestions]="suggestions"
        (eventEmitMovie)="handleSelectMovie($event)"
      >
      </app-autocomplete>
    </ng-container>
    <p *ngIf="noResultsFound" class="no-results-message">No new movies could be found for this search.</p>
  </div>

  <ng-container *ngFor="let movie of selectedMovies">
    <app-movie-card [movie]="movie"></app-movie-card>
  </ng-container>
</main>
